a{
	color: #007aca;
}

#bottom-region a{
	color: #0074c0;
}

#footer-region a{
	color: #0070b9;
}

.navbar-default .navbar-nav>li>a {
  color: #6c6c6c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  color: #0070b9;
}

// // .dlaw-social-media-links-wrapper{
// //   a{
// //     color: #fff;
// //   }
// // }
// // #toolbar-chevron{
// //   color: #fff;
// // }
// a, .pagination > li > a, .pagination > li > span{
//   color: #990000;
//   &:hover{
//     color: darken(#990000, 10%);
//   }
// }

// .form-control{
//   color: #333333;
// }

// .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
//   color: #333333;
// }

// // .logotype-container{
// //   line-height : 1.2em;
// // }

// body{
//   color: #333333;
// }

// // #footer-region{
// //   color: #fff;
// //   a{
// //   }
// // }

// #apachesolr-panels-search-block{
//   .btn.btn-primary.form-submit {
//       padding: 7px 13px;
//   }
// }

// #site-toolbar{
//   #apachesolr-panels-search-block .form-item-apachesolr-panels-search-form{
//     margin-right: -79px;
//   }
// }


// #navbar{
//   padding-right: 0;
//   padding-left: 0;
//   .navbar-collapse{
//     padding-right: 0;
//     padding-left: 0;
//   }
// }

// .branding.navbar{
//   .container{
//     .logo{
//       margin-right: -13px;
//     }
//   }
// }