/**
 * @file
 * Stylesheet for the frontlayout module.
 */

#frontlayout div.frontlayout-region {
}

#frontlayout div#frontlayout_footer {
  // width: 75%;
  margin: 0 auto 1em;
  float: none;
  clear: both;
}

#frontlayout div.block {
  margin-bottom: 20px; 
}

#frontlayout .frontlayout-region .block {
  clear: both;
}

#frontlayout div.block h2 {
  float: none;
}

#frontlayout #disabled-blocks .block,
#frontlayout .block-placeholder {
  // background: #e2e1dc;
  // padding: 6px 4px 6px 8px; /* LTR */
  // margin: 3px 3px 3px 0; /* LTR */
  // float: left; /* LTR */
  // -moz-border-radius: 4px;
  // -webkit-border-radius: 4px;
  // border-radius: 4px;
}

#frontlayout .frontlayout-add-other-blocks {
  margin: 10px 0 20px 0;
}

#frontlayout .ui-sortable {
  border: 2px dashed #ccc;
  padding: 10px;

  .badge{
    display: none;
  }
  .panel-heading{
    &:before{
      color: #aaa;
      content: "⠿";
      display: block;
      float: left;
      font-size: 23px;
      height: 27px;
      line-height: 27px;
      margin: 0 10px 0 0;
      padding-top: 0;
      width: 16px;
      }
    &:hover{
      &:before{
        color: #2fa6e5;
      }
    }
  }

}

.manage-sites-button{
  .badge{
    font-weight: normal;
    margin-left: 10px;
    text-shadow: 1px 1px #888;
  }
}
.mission-button{

}

#frontlayout #disabled-blocks .ui-sortable {
  border: 0;
}

#frontlayout .canvas-content a.button {
  text-decoration: none;
}

#frontlayout .region {
  margin: 5px;
}

#frontlayout #disabled-blocks .region {
  background-color: #E0E0D8;
  border: #ccc 1px solid;
  padding: 10px;
}

#frontlayout #disabled-blocks {
  padding: 5px 0;
}

#frontlayout #disabled-blocks h2 {
  display: inline;
  font-weight: normal;
  white-space: nowrap;
}

#frontlayout #disabled-blocks .block {
}


#frontlayout #disabled-blocks .block .content,
#frontlayout .ui-sortable-helper .content {
  display: none;
}

#frontlayout .ui-sortable .block {
  cursor: move;
  min-height: 1px;
}

#frontlayout .ui-sortable .block h2 {
  background: transparent url(../../misc/draggable.png) no-repeat 0px -39px;
  padding: 4px 8px;
}

#frontlayout.customize-inactive #disabled-blocks .block:hover h2 {
  // background: #0074BD url(../../misc/draggable.png) no-repeat 0px -39px;
}

#frontlayout.customize-inactive .frontlayout-region .ui-sortable .block:hover h2 {
  // background: #0074BD url(../../misc/draggable.png) no-repeat;
}

#frontlayout .frontlayout-region .block-placeholder {
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  height: 1.6em;
  width: 100%;
}

#frontlayout #disabled-blocks .block-placeholder {
  width: 30px;
  height: 1.6em;
}



/* Copied from Ember style.css */
#frontlayout .region {
  margin: 0;
}
#frontlayout div.block h2 {
  font-size: 2em;
  margin: 0;
  padding: 4px 8px;
}
#frontlayout div.block div.content {
  /* LTR */
}
#frontlayout div.block div.content ul.menu {
  margin-left: 20px;
  /* LTR */
}
#frontlayout .frontlayout-region .block {
  border: 1px solid #ddd;
  // background-color: rgba(255,255,255, 0.8);
}

#frontlayout div#frontlayout_col3 {
  margin-right: 0;
}
#frontlayout .canvas-content a.button {
  text-decoration: none;
}


#frontlayout #disabled-blocks .block {
  // background-color: #666;
}
#frontlayout #disabled-blocks .block,
#frontlayout .block-placeholder {
  // background-color: #666;
  // border-radius: 4px;
  // float: left;
  // margin: 3px 6px 3px 0;
  // padding: 5px 4px 5px 8px;
}

/* Custom */
#frontlayout div.frontlayout-region .placeholder {
  // border: 1px dotted #aaa;
  padding: 1em;
}

#frontlayout.customize-mode div.frontlayout-region .placeholder {
  border: none;
}


#frontlayout .disabled-blocks {
  min-height: 4em;
}

 .slideshow {
  // width: 97.8%;
  margin: 1em 0;
  padding: 1em 0;
  text-align: center;
}

 .slideshow .ss-block {
  /*height: 50px;*/
  width: 20%;
  margin: 0 1em 1em;
  display: inline-block;

  border: 1px solid #ccc;

  background-color: #f9f9f9;
  text-align: center;
  vertical-align: middle;
}

 .slideshow .ss-block .cell {
  text-align: center;
  padding: 2em 3em;
  // color: #aaa;
}

#frontlayout .frontlayout-region .block .content > * {
  display: none;
}

#frontlayout .frontlayout-region .block .content div.no-content {
  display: block;
}

// .error{
//   display: none;
// }

.slideshow{
  padding:0;
  margin-bottom:14px;
  .slideshow-inner{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #DDDDDD;
  }
}
#frontlayout{
  .action-links1{
    list-style-type: none;
    padding: 0 0 15px 35px;
    margin: 0;
  }
}

.add-block-holder{
  margin-bottom: 20px;
}

.customize-inactive{
  #frontlayout_inactive{
    .inactive-label{
      display: none;     
    }
  }
}

#frontlayout{

  padding-bottom:145px;

  .action-links{
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .region-instruction {
    border: 1px solid #ddd;
    background-color: #ffd;
    padding: 20px;
    margin: 1em 0;
    text-align: center;
  }

  .region{
    border: 1px solid #DDDDDD;
    min-height: 150px;
    padding:20px;
    // background:rgba(255,255,255, 0.9);
    background: none repeat scroll 0 0 #fafafa;

    &.inactive-zone{
      background:rgba(255,255,255, 0.6);

    .placeholder {
        color: #BBBBBB;
        font-size: 19px;
        text-align: center;
    }

    }
  }

  #frontlayout_inactive {
    .region {
      background-color: rgba(255, 255, 221, 0.7);
    }
    .ui-sortable {
      display: none;
    }
  }

  #frontlayout_col1,
  #frontlayout_col2,
  #frontlayout_col3 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #frontlayout_footer{
    .region {
      min-height: 130px;
    }
  }

  #disabled-blocks{
    .region {
      background-color: #eee;
      border: 2px dashed #aaa;
    }
  }

  .ui-sortable {
    padding: 20px;
    background-color: rgba(238, 255, 238, 0.9);

    border: 2px dashed #AAAAAA;
  }
  
  div.block{

    .panel-heading{
      // border:none;
    }

    h4, h2{
      color: #5a5a5a;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 0;
      &:hover{
        color: #5a5a5a;        
      }
    }

    &:hover{
      h4, h2{
        color: #5a5a5a;
      }
    }
  }

  .block.panel-default {
    clear: none;
    min-height: 42px; 
    // min-width: 250px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius:0;

    .panel-heading{
      border-radius:0;
      background:none;
      border:none;

      .badge{
        font-weight: normal;
        &:hover{
          background: #2fa6e5;
        }
      }
    }
  }



  // View mode (before edit)
  #frontlayout_inactive {
    .block.panel-default {
      float: left;
      clear: none;
      margin-right: 15px;
      margin-bottom: 20px;

      background: none repeat scroll 0 0 #fff;
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      border-radius:0;

      .panel-heading{ 
        border-radius:0;
        background:none;
        border:none; 
      }
    }
  }

  #disabled-blocks{
    .disabled-blocks{
      padding-left: 20px;
      padding-right: 20px;
      &.region{
        &.disabled-blocks{
          background: rgba(255, 255, 221, 0.7);
          .panel.panel-default{
            min-width: 250px;            
            float: left;
            margin: 0 10px 20px 0;
            min-height: 42px;
            background: none repeat scroll 0 0 #fff;
            border: 1px solid #e5e5e5;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

          }
        }
      }
    }
  }

  &.customize-mode{

    .frontlayout-region{

      .inactive-zone{
        // border: 2px dashed rgba(0, 204, 0, 0.7);
        // border: 1px dashed rgba(0, 0, 0, 0.4);
        
        // padding: 10px 10px 0;
        // background-color: rgba(238, 255, 238, 0.4);
        // background:none;
      }

    }
  }

  a.button{
    border: medium none;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",helvetica,"Segoe UI",segoe,"Ubuntu","Droid Sans","Arial",sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 1em;
    max-width: 100%;
    outline: medium none;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    text-shadow: 0 1px 0 #EFEFEF;
    font-size: 14px;
    padding: 10px 14px;
    -moz-box-sizing: border-box;
    cursor: pointer;
    max-width: 100%;
    color: #FFFFFF;
    background: none repeat scroll 0 0 #2FA6E5;
    text-shadow: 0 1px 0 #0E3144;

  }

}

a.done-button{
  margin-left: 42px;
}

.action-links-holder {
  height: 61px;
  &:after{
    clear: both;
    display: table;
    content: "";
  }
}

#frontlayout .block-edit {
  float: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
  line-height: 0.75;
  margin-left: 0.5em;
  padding: 0 0.5em;

  &:active, &:hover {
    text-decoration: none;
    color: red;
  }
}


